<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'todo_list_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ todo_detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_detail.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                <thead>
                <tbody>
                    {% for item in todo_detail.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
